aild/
aild-ld/
clumping/
cojo/
dist/
doc/.RData
doc/.Rhistory
doc/analysis-plan
doc/STANLEY_INF_I_annotation.txt
tryggve/kora.normalised.prot.txt
h2/
INTERVAL/
KORA/
METAL/
plots/
ps
rlist-EURLD
rma/
sentinels/
snps/
snpstats/
st.bed
sumstats/
work/
