.RData
.Rhistory
AGES/
ARIC/
CXCL5/
docs/
1KG/
annotate/
aristotle/
Cytoscape/
circos/
clinicaltrials/
clump/
coffeeprot/
coloc/circlize.*
coloc/dec-13
coloc.1M/
coloc-jma/
cross_platform_pGWAS/
crp/
cs/
cvd1/
data/
deCODE/
ds/
ebi/
eQTLCatalogue/
eQTLGen/
Fenland/
files/
finemap/
finemapping/
fp/
FUMA/
FUSION/
garfield/
garfield-data
GREAT/
GREP/
gsmr/
GTEx/
h2/
HGI/
HGI-ukb/
hotspots/
hyprcoloc/
INTERVAL/
jam/
KORA/
ldak/
lz/
METAL/
merge/
mgwas/
mr/
MS/
NG/
OpenGWAS/
output/
pGWAS_discovery/
pheweb/
plots/
polygene/
ppi/
pQTLs/
prune/
ps/
QCGWAS/
results/
rma/
SCALLOP/
sentinels/
site/
slct/
smr/
SomaLogic/
srcf/
st.bed*
sumstats/
TNFB/
ukb/
work/
.httr-oauth
